/*to style the nav bar
*/



nav {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
}

/*to style the image, instead of using inline we should use ccs
*/
nav img {
  width: 80px;
  height: 80px;
  float: left;
}

/*to style the header in the nav bar */

nav span {
  float: left;
  font-size: 200%;
  padding-left: 10px;
  line-height: 80px;
}


nav button {
  background-color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  float: right;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  border-width: 1.5px;
  margin-top: 9px;
  margin-bottom: 5px;
  color:#00a087;

}

nav button:hover {
  color: black;
}